force-app/main/default/flows/Contact_Lookup-12.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Contact_Exists_with_Email_Or_Not</name>
        <label>Contact Exists with Email Or Not</label>
        <locationX>361</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_with_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_initiator_Contact</targetReference>
            </connector>
            <label>Contact Found with email</label>
        </rules>
        <rules>
            <name>Contact_Doesn_t_exist_with_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_with_Mobile</targetReference>
            </connector>
            <label>Contact Doesn&#39;t exist with email</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Lookup</interviewLabel>
    <label>Contact Lookup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_contact_with_email</name>
        <label>Lookup contact with email</label>
        <locationX>365</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_with_Email_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_with_Mobile</name>
        <label>Lookup Contact with Mobile</label>
        <locationX>634</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_with_mobile_found</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactMobile</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>objContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_mobile_found</name>
        <label>Update Contact with mobile found</label>
        <locationX>639</locationX>
        <locationY>489</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>processInitiatorContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_initiator_Contact</name>
        <label>Update the initiator Contact</label>
        <locationX>127</locationX>
        <locationY>351</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>processInitiatorContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Lookup_contact_with_email</startElementReference>
    <variables>
        <description>this email woudl be used to find the contact from the table</description>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>processInitiatorContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processInitiatorMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
