force-app/main/default/flows/Look_for_child_cases-6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CountOfCasesVariable</name>
        <label>CountOfCasesVariable</label>
        <locationX>302</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>CountOfCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Look for child cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Look for child cases</label>
    <loops>
        <name>Loop_throgh_the_case</name>
        <label>Loop throgh the case</label>
        <locationX>302</locationX>
        <locationY>397</locationY>
        <assignNextValueToReference>Temporary</assignNextValueToReference>
        <collectionReference>lstChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountOfCasesVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_for_the_child_cases_with_parent_Id</name>
        <label>Look for the child cases with parent Id</label>
        <locationX>498</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParendCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Lookup_for_all_child_cases</name>
        <label>Lookup for all child cases</label>
        <locationX>302</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_throgh_the_case</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParendCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstChildCases</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>562</locationX>
        <locationY>390</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParendCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Cases__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngineeringReqNumber__c</field>
            <value>
                <elementReference>CountOfCases</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_for_all_child_cases</startElementReference>
    <variables>
        <name>CountOfCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParendCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Temporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
